:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 300px;
  min-height: 300px;
  padding: 20px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.btn.googleSignin {
  background-color: white;
  color: #757575;
  border: 1px solid #dadce0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 700;
}
.btn.googleSignin:hover {
  background-color: #f8f9fa;
}
.btn.signout-button {
  background-color: #f8f9fa;
  font-weight: 700;
  color: #3c4043;
}
.btn.signout-button:hover {
  background-color: #e8e8e8;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-info .user-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.user-info .user-name {
  font-size: 1.2rem;
  font-weight: 700;
}
